* {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: '#2b2b2b';
}

html {
  font-size: 16px;
}

.dropdown-toggle::after {
  color: white !important;
}

body {
  margin: 0;
  overflow-x: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* #66cc33 */
/* #187b3d */